* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
ul {
    list-style: none;
}


/* general */
:root {
	--color-secondary: #ffffff;
	--color-primary: #23272a;
	--color-header-bg: #255ee9;
	--color-section-bg: #f6f6f6;
	--color-contrast: #aebbe7;
    --color-discount:#FF0000;
}
.debug{
    border:2px solid red;
    height: 50%;
    width: 50%;
}
.fixed {
    overflow: hidden;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    background-color:#FF6900;
    z-index:3000;
}

.navbar{
    max-width: 1200px;
    margin:0 auto;
    justify-content: space-between;
    
}
.navbar a{
    float: left;
    color: #f8f5f5;
    padding: 16px 16px;
    text-decoration: none;
    font-size: 17px;
}
.navbar a:hover {
    background: #ddd;
    color: black;
}
.right{
    width: 13%;
    float: left;
}
i{
    width: 20px;
    height: 20px;
    
}
.left{
    width: 22%;
    float: left;
   
}
.center{
    width:65%;
    float: left;
    
}
.center img{
    width:130px;
    padding: 14px 16px;
    margin: 0 auto;
}  
body{
    font-family: "Arial", sans-serif;
    background-color: var(--color-secondary);
    color: black;
}
.container{
    background-color:var(--color-secondary);
    max-width:1200px;
    margin:20px auto;
    color:#f6f6f6;
    padding: 20px 30px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-top:150px;
}
.card{
    width: calc(100% / 3 - 10px);
    cursor:pointer;
    
}
.card-image{
    position: relative;
}
img{
    display: block;
    width: 100%;
}
.badge{
    background-color:var(--color-discount);
    color: var(--color-secondary);
    padding: 5px;
    position: relative;
    bottom: 55px;
    font-size: 12px;
    display: inline-block;
}
.sostenibilita{
    background-color: green;
    color: var(--color-secondary);
    padding: 5px;
    position: relative;
    bottom: 55px;
    display: inline-block;
    font-size: 12px;
}
a:hover {
    color: red; 
}
.fffa{
    width: 35px;
    height: 35px;
    background-color: white;
    top: 10px;
    right: 0px;
    position:absolute;
    
}
.heart {
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    position: absolute;
    margin:auto;
    text-align: center;
    padding: 5px;
    color:black;
    font-size: 40px;
    text-decoration: none; 
}
.secondary-image{
    display: none;
}
.card:hover .main-image{
    display:none;
}
.card:hover .secondary-image{
    display:block;
}
.prise{
    color: red;
    font-size: 12px;
}
.old-prise{
    text-decoration: line-through;  color:grey;
}
h5{
    color:gray;
}
P{
    color: black;
    font-weight: 600;
}
.margin-top{
    margin-top: -20px;
}
.footer{
    width: 100%;
    background-color:#1A1A1A ;
    padding-bottom: 20px;
}
.container-footer{
    display: flex;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
}
h4{
    color: white;
    padding-top: 20px; 
}
.footer-href a{
    color: white;
    text-decoration: none; 
    padding-right: 7px; 
}
h6{
    
    padding-top: 20px;
    font-size: 13px;
    color: white;
}