* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
ul {
    list-style: none;
}


/* general */
:root {
	--color-secondary: #ffffff;
	--color-primary: #23272a;
	--color-header-bg: #255ee9;
	--color-section-bg: #f6f6f6;
	--color-contrast: #aebbe7;
    --color-discount:#FF0000;
}
.debug{
    border:2px solid red;
    height: 50%;
    width: 50%;
}
body{
    font-family: "Arial", sans-serif;
    background-color: var(--color-secondary);
    color: black;
}
.container{
    background-color:var(--color-secondary);
    max-width:1200px;
    margin:20px auto;
    color:#f6f6f6;
    padding: 20px 30px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}
.card{
    width: calc(100% / 3 - 10px);
    cursor:pointer;
}
.card-image{
    position: relative;
}
img{
    display: block;
    width: 100%;
}
.badge{
    background-color:var(--color-discount);
    color: var(--color-secondary);
    padding: 5px;
    position: relative;
    bottom: 55px;
    font-size: 12px;
    display: inline-block;
}
.sostenibilita{
    background-color: green;
    color: var(--color-secondary);
    padding: 5px;
    position: relative;
    bottom: 55px;
    display: inline-block;
    font-size: 12px;
}
a:hover {
    color: red; 
}
.heart {
    padding: 5px;
    color:black;
    top: 5px;
    right: 0px;
    position:absolute;
    font-size: 40px;
    text-decoration: none; 
}
.secondary-image{
    display: none;
}
.card:hover .main-image{
    display:none;
}
.card:hover .secondary-image{
    display:block;
}
.prise{
    color: red;
    font-size: 12px;
}
.old-prise{
    text-decoration: line-through;  color:grey;
}
h5{
    color:gray;
}
P{
    color: black;
    font-weight: 600;
}
